@layer zero.recipes {
    [data-scope="status"][data-part="root"] {
        --status-ink: var(--color-primary);
        --status-size: calc(var(--size-selector) * 2.5);
    }

    [data-scope="status"][data-part="root"] {
        display: inline-block;
        inline-size: var(--status-size);
        block-size: var(--status-size);
        box-sizing: border-box;
        vertical-align: middle;
        background: var(--status-ink);
        border: calc(var(--status-size) / 2) solid var(--status-ink);
        border-radius: 50%;
    }

    [data-scope="status"][data-part="root"][data-color="primary"] {
        --status-ink: var(--color-primary);
    }

    [data-scope="status"][data-part="root"][data-color="secondary"] {
        --status-ink: var(--color-secondary);
    }

    [data-scope="status"][data-part="root"][data-color="tertiary"] {
        --status-ink: var(--color-tertiary);
    }

    [data-scope="status"][data-part="root"][data-color="error"] {
        --status-ink: var(--color-error);
    }

    [data-scope="status"][data-part="root"][data-color="neutral"] {
        --status-ink: var(--color-neutral);
    }

    [data-scope="status"][data-part="root"][data-color="info"] {
        --status-ink: var(--color-info);
    }

    [data-scope="status"][data-part="root"][data-color="success"] {
        --status-ink: var(--color-success);
    }

    [data-scope="status"][data-part="root"][data-color="warning"] {
        --status-ink: var(--color-warning);
    }

    [data-scope="status"][data-part="root"][data-color="accent"] {
        --status-ink: var(--color-accent);
    }

    [data-scope="status"][data-part="root"][data-size="xs"] {
        --status-size: calc(var(--size-selector) * 1.5);
    }

    [data-scope="status"][data-part="root"][data-size="sm"] {
        --status-size: calc(var(--size-selector) * 2);
    }

    [data-scope="status"][data-part="root"][data-size="lg"] {
        --status-size: calc(var(--size-selector) * 3);
    }

    [data-scope="status"][data-part="root"][data-size="xl"] {
        --status-size: calc(var(--size-selector) * 3.5);
    }
}
