@layer zero.recipes {
    [data-scope="kbd"][data-part="root"] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-inline-size: 1.75em;
        padding: 0 var(--space-sm);
        background: var(--color-base-200);
        color: var(--color-base-content);
        border: var(--border) solid var(--carbon-line);
        border-radius: 0;
        font-family: var(--font-mono);
        font-size: var(--text-xs);
        line-height: var(--leading-normal);
        white-space: nowrap;
    }

    [data-scope="kbd"][data-part="root"][data-size="sm"] {
        font-size: var(--text-xs);
        padding: 0 var(--space-xs);
        min-inline-size: 1.5em;
    }

    [data-scope="kbd"][data-part="root"][data-size="lg"] {
        font-size: var(--text-sm);
        padding: 0 var(--space-md);
    }

    [data-scope="kbd"][data-part="root"][data-size="xl"] {
        font-size: var(--text-md);
        padding: var(--space-2xs) var(--space-lg);
    }

    [data-scope="kbd"][data-part="root"][data-size="2xl"] {
        font-size: var(--text-md);
        padding: var(--space-xs) var(--space-xl);
    }
}
